*{
    /*box-sizzing para que ocupe todo el espaciado*/
    box-sizing: border-box;
    margin:0;
    padding: 0;
    /*Padding para que no haya espaciado interno*/
}
body{
    background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23e8aa14' fill-opacity='0.4'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
font-family: 'Oswald', sans-serif;
}

a{ color: blanchedalmond;
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    width: 90%;
    margin: auto;
}
/* ESTILIZAR LA NAVEGACION*/
.nav-main{
    /*FONT-SIZE TAMAÑO DE LA LETRA*/
    font-size: 17px;
    /*DISPLAY FLEX PERMITE ORGANIZAR LOS ELEMENTOS*/
    display: flex;
    /*justify-content utilizar los anchos de la pantalla*/
    justify-content: space-between;
    align-items: center;
    /*Altura*/
    height: 60px;
    padding: 20px 0;    
}
/*nav-brand es la clase de la imagen*/
.nav-brand{
    width: 50px;
}
.nav-main ul{
    display: flex;
}
.nav-main ul li{
    padding: 10px;
}
.nav-main ul li a{
    padding: 2px;
}
/*Subrayado (hover)cuando paso el cursor*/
.nav-main ul li a:hover{
    border-bottom: 2px solid white;
}
.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;
}
hr{
    margin: 10px 0;
}
/*Showcase*/
.showcase{
    width: 100%;
    height: 500px;
    background: url(./img/showcase2.jpg) no-repeat center center/cover;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: flex-end;   
}
.btn{
    /* CURSOR POINER para que aparezca el cursor de seleccion, la mano*/
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    /*padding el primer pixelaje es para arriba y abajo y el segundo a los costados*/
    padding: 10px 20 px;
    background: #262626;
    color: white;
    font-size: 15px;    
    border: 1px solid white;
    margin: 10px 0px;
}
.btn:hover{
    opacity: 0.3;
}
.showcase h2,
.showcase p{
    margin-bottom: 10px;
}
